# Django Settings
SECRET_KEY='your-secret-key-here-change-in-production'
DEBUG=True
ALLOWED_HOSTS="*"
CSRF_TRUSTED_ORIGINS='http://localhost:8080,http://localhost:8000,http://127.0.0.1:8080,http://127.0.0.1:8000,https://localhost:8080,https://localhost:8000,https://127.0.0.1:8080,https://127.0.0.1:8000'

# Banco de dados
DB_ENGINE=postgresql
DB_USERNAME=postgres
DB_PASS=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=postgres

# Celery
CELERY_BROKER_URL=redis://redis:6379/0

# Elasticsearch
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=changeme

# Email
SENDER_EMAIL_URL="entrypoint"
RECEIVER_EMAIL_LIST="example1@email.com,example2@email.com"
